.carousel-wrapper {
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product {
  min-width: 33.33%;
  /* Prikazuje 3 proizvoda po stranici */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 360px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.prev-btn,
.next-btn {
  position: absolute;
  font-size: 45px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #4D4D4D;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}